<div id="code-body" class="hidden vertical take-all">
    <div class="toolbar content-centered-vertically">
        <button class="light-button save-button"><i class="fa fa-save"></i><span class="shortcut">Ctrl+S</span></button>
    </div>
    <div class="body horizontal take-all">
        <div class="take-all">
            <textarea id="code-box"></textarea>
        </div>
        <div class="detail-box content-centered-horizontally">Project box (future)</div>
    </div>
</div>
