<div class="color-selector-component" style="width: 100%">
    <table>
        <tr>
            <td>Red</td>
            <td class="containing-color"><input type="range" min="0" max="15" value="15" class="red"/></td>
        </tr>
        <tr>
            <td>Green</td>
            <td class="containing-color"><input type="range" min="0" max="15" value="15" class="green"/></td>
        </tr>
        <tr>
            <td>Blue</td>
            <td class="containing-color"><input type="range" min="0" max="15" value="15" class="blue"/></td>
        </tr>
        <tr>
            <td>CSS code</td>
            <td class="containing-color">
                #<input type="text" class="hex" />
                <span class="color-preview" data-tooltip="Color preview|Shows how the color will render on the screen if you select it">&nbsp;</span>
            </td>
        </tr>
    </table>

<!--    <input type="range" min="0" max="15" value="15" class="green"/><span>Green</span>-->
<!--    <input type="range" min="0" max="15" value="15" class="blue"/><span>Blue</span>-->
<!--    <input type="text" class="hex" />-->
</div>
