<button class="light-button import-button" data-tooltip="Import button [I]|Import a PNG image from the file and paste it in the canvas.">
    <i class="fa fa-upload"></i>
    <span class="shortcut">I</span>
</button>
<input type="file" class="hidden file-import">
