<div class="palette-color-selector">
    <span class="color-square first"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <br>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
    <span class="color-square"></span>
</div>
