<div class="yesno-dialog dialog-box content-centered-vertically content-centered-horizontally hidden">
    <div class="contents">
        <div class="title"></div>
        <div class="text"></div>
        <div class="buttons content-centered-horizontally content-centered-vertically">
            <button class="light-button button-yes">Yes</button>
            <button class="light-button button-no">No</button>
            <button class="light-button button-cancel">Cancel</button>
        </div>
    </div>
</div>
